
$primary: #E0883A;
$dark: #120902;
$body-bg: #03120F;
$body-color: #E0883A;
$card-bg: $body-bg;
$card-border-color: $primary;
$card-border-width: 4px;
$headings-font-family: "Playfair Display";
$btn-font-size: 25px;
$btn-font-weight: 700;
$font-family-base: "Roboto";

$theme-colors: (
  "primary": $primary,
  "dark": $dark
);

@import "../bootstrap/scss/bootstrap.scss";

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color: #DAD9D7;
    font-weight: 900;
    font-size: 50px;
    line-height: 55px;
}

h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 43px;
    font-family: "Roboto";
}

h2, h5 {
    color: #DAD9D7;
    font-family: "Playfair Display";
    font-size: 55px;
    margin-bottom: 100px;
}

p {
    color: #DAD9D7;
    font-size: 25px;
}

.navbar-brand {
    font-family: "Playfair Display";
}

.card-text {
    margin-left: 32px;
    font-size: 25px;
}

.progress {
    background-color: #03120F;
    //color: #fff;
    height: 100%;
}

.circle {
    width: 144px;
    height: 144px;
    border: 4px solid #E59554;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    //align-items: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 96px;
    line-height: 105px;
    color: #E59554;
    background-color: #03120F;
}

.arrow {
    justify-content: center;
    align-items: center;
    min-width: 106px;
    max-width: 106px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#about img {
    object-fit: cover;
}
